@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    font-family: "Roboto", "Arial" !important;
}

.grid-container{
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: 50% 50%;
}

.grid-item{
    padding: 8px 0px 8px 0px;
    text-align: center;
    border: 1px solid black;
}
