@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.nav-item{
    margin-left: 18px;
}

.grid-container{
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: auto auto;
}

.grid-item{
    text-align: center;
    border: 1px solid black;
}

@media only screen and (max-width: 991px) {
    .navbar-nav{
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-nav{
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 583px) {
    .nav-link span{
        color: red !important;
        display: none;
    }

    .nav-item{
        margin-left: 25px;
    }
}